.container {
  perspective: 1000px;
  transform-style: preserve-3d;
  margin: 4px;
}

.flipper {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  height: 64px;
  width: 64px;
}

.sides {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  color: #fff;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.front {
  background-color: white;
  border: solid 2px #eee;
  border-radius: 4px;
  padding: 6px;
}

.back {
  background-color: white;
  border: solid 2px #eee;
  transform: rotateY(180deg);
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.number {
  position: absolute;
  color: #1e2023;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
