<ion-header>
    <ion-toolbar class="ion-padding-horizontal">
        <memo-game-timer class="ion-float-end" [status]="timerStatus" (tick)="onTick($event)"></memo-game-timer>
    </ion-toolbar>
</ion-header>

<ion-backdrop *ngIf="showBackdrop"></ion-backdrop>

<ion-content #content class="ion-padding" [scrollY]="false" [scrollX]="false">
    <div class="game">
        <div #board class="board">
            <div class="stone" *ngFor="let stone of stones">
                <memo-game-stone *ngIf="showStones"
                                 [stone]="stone"
                                 [dimension]="stoneDimension"
                                 [disabled]="disableStones"
                                 (tabbed)="onStoneTabbed($event)"
                                 (flipped)="onStoneFlipped($event)"
                                 (unflipped)="onStoneUnflipped($event)"
                                 (found)="onStoneFound($event)"></memo-game-stone>
            </div>
        </div>
        <memo-game-countdown #countdown *ngIf="showCountdown" (start)="startGame()"></memo-game-countdown>
    </div>
</ion-content>
