<ion-header>
    <ion-toolbar class="ion-padding-horizontal">
        <div class="ion-float-end" *ngIf="showTimer">{{timer}}</div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="game" *ngIf="showGame">

        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let stone of stones">
                    <div [ngClass]="{'hidden': stone.hasBeenFound}" class="stone" (click)="onStoneClick(stone)">
                        <img [ngClass]="{'hidden': !stone.showFront}" [src]="stone.icon">
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="countdown" *ngIf="showCountdown">{{counter}}</div>
        <div class="backdrop" *ngIf="showBackdrop" (click)="backdropClickFn()"></div>
    </div>
</ion-content>
