.game {
  position: relative;
  overflow: hidden;
}

.game .backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #e2e2e2;
  opacity: 0.4;
}

.game .board {
  //display: flex;
  //flex-wrap: wrap;
}

.game .board .row {
  display: flex;
  justify-content: center;
}

.game .board .stone {
  flex: 0 0 auto;
}
