<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Memory
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <memo-game-button *ngFor="let game of games$ | async" [game]="game" (click)="onClick($event)"></memo-game-button>
    </div>
</ion-content>
