<ion-header [translucent]="true" class="ion-no-border ion-padding">
    <ion-toolbar>
        <ion-badge slot="start" color="light">SUPER</ion-badge>

        <ion-label>
            Memory
        </ion-label>
        <ion-badge slot="end" color="medium" class="ion-padding-end ion-padding-start">SUPER</ion-badge>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <memo-game-button *ngFor="let game of games" [game]="game" (click)="gotoGame(game.id)"></memo-game-button>
    </div>
</ion-content>

